<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="navbar_logo" src="./resources/Logo.jpg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Bandeja <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Maestros de Referencia</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Reporte Mensual</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!--   <input class="form-control mr-sm-2" type="search"  aria-label="Search"><span class="fas fa-search" aria-hidden="true" ></span>-->

                   
                     <span>ARX000411 </span> <i class="fas fa-sign-out-alt"></i>

                     

                </li>



            </ul>
        </form>
    </div>
</nav>



<table class="table table-sm  table-bordered tabla_procesos">
    <tr class="cabecera_tabla">
        <td style="width: 2rem; " class="align-middle">Referencia Expendiente</td>
        <td class="align-middle">Numero Auto</td>
        <td class="align-middle">Demandate</td>
        <td class="align-middle">Demandado</td>
        <td class="align-middle">Estado</td>
        <td class="align-middle">Fecha Alta</td>
        <td class="align-middle">Asunto </td>
        <td class="align-middle">Tipo</td>
    </tr>
    <tr>
        <td>1</td>
        <td>24687138432168</td>
        <td>Pepito Peres</td>
        <td>B01 Prosegur España</td>
        <td>Terminado</td>
        <td>20/04/2018</td>
        <td>Subrogacion</td>    
        <td>Laboral</td>            

    </tr>
    
    </tbody>

    
</table>