


<div class="card" style="margin-top:10px; font-size: 16px">
    <div class="card-header" style="font-size: 14px;">
        <i class="fas fa-search"></i><label style="margin-left : 5px"> Filtro de Bandeja</label>
        <button class="btn btn-warning  btn-sm float-sm-right text-center" style="margin-left: 5px;" ng-click="verFiltros()">
            <i class="fas fa-filter"></i></i> Ver Filtros</button>
        <button class="btn btn-warning  btn-sm float-sm-right text-center" ng-click="verFiltros()"> <i class="far fa-file"></i>
            Nuevo
            Proceso</button>
    </div>

</div>
<div class="card-body filtro_card animated fadeIn fast" ng-show="Filtro == 1">
    <div class="row">
        <div class="col-sm-2">
            <input class="form-control campos_filtro" placeholder="Referencia Expediente">
        </div>
        <div class="col-sm-3">
            <input class="form-control campos_filtro" placeholder="Numero Auto">
        </div>
        <div class="col-sm-3">
            <select class="form-control campos_filtro">
                <option>Seleccionar Asunto</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control campos_filtro">
                <option>Seleccionar Estado</option>
            </select>
        </div>

        <div class="col-sm-1">
            <button class="btn btn-warning btn-block">Filtrar</button>
        </div>
    </div>
</div>
<table class="table table-responsive-lg table-sm  table-bordered tabla_procesos">
    <tr class="cabecera_tabla">
        <td style="width: 2rem; " class="align-middle">Referencia Expendiente</td>
        <td class="align-middle">Numero Auto</td>
        <td class="align-middle">Demandate</td>
        <td class="align-middle">Demandado</td>
        <td class="align-middle">Estado</td>
        <td class="align-middle">Fecha Alta</td>
        <td class="align-middle">Asunto </td>
        <td class="align-middle">Tipo</td>
    </tr>
    <tr ng-show="Bandeja.length != 0">
        <td>1</td>
        <td>24687138432168</td>
        <td>Pepito Peres</td>
        <td>B01 Prosegur España</td>
        <td>Terminado</td>
        <td>20/04/2018</td>
        <td>Subrogacion</td>
        <td>Laboral</td>
    </tr>

    <tr ng-show="Bandeja.length == 0">
        <td colspan="8" style="text-align: center;" ><label>No hay Datos</label></td>
    </tr>
</table>